# NestJS backend URL (required)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

# next-auth (required)
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=                    # generate: openssl rand -base64 32

# AWS Cognito (required)
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_USER_POOL_ID=ap-south-1_XXXXX
AWS_REGION=ap-south-1
